.App {
  height: 100vh;
  perspective: 1000px;
  width: 100vw;
}

@media (min-width: 500px) {
  .App {
    max-height: 25rem;
    max-width: 20rem;
  }
}

.App-back {
  transform: rotateY(180deg);
}

.App-flipper {
  display: flex;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s;
  width: 100%;
}

.App-flipper.flipped {
  transform: rotateY(180deg);
}

.App-front {
  transform: rotateY(0deg);
  z-index: 2;
}

.App-front,
.App-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.App-reference-input {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  text-align: right;
  width: 5rem;
}

.App-reference-input:focus {
  box-shadow: 0 0 8px skyblue;
}

.App-settings-container {
  height: calc(100vh - 3rem);
  max-height: 25rem;
  max-width: 100%;
  width: 35rem;
}

@media (min-height: 30rem) {
  .App-settings-container {
    height: 25rem;
  }
}
