.App {
  display: block;
  height: 100%;
  max-height: 25rem;
  max-width: 20rem;
  perspective: 1000px;
  width: 100%;
}

.App-back {
  transform: rotateY(180deg);
}

.App-flipper {
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s;
  width: 100%;
}

.App-flipper.flipped {
  transform: rotateY(180deg);
}

.App-front {
  transform: rotateY(0deg);
  z-index: 2;
}

.App-front, .App-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.App-notes, .App-octaves {
  display: flex;
  flex-wrap: wrap;
}
