.AppSettings-container {
  height: calc(100% - 3rem);
  max-height: 25rem;
  max-width: 100%;
  width: 35rem;
}

@media (min-height: 30rem) {
  .AppSettings-container {
    height: 25rem;
  }
}

.ReferencePitchChooser-input {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  text-align: right;
  width: 5rem;
}

.ReferencePitchChooser-input:focus {
  box-shadow: 0 0 8px skyblue;
}

.SettingsExpanderGroup-label {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.SettingsExpanderGroup-label-text {
  flex: 1 1;
}

.SettingsItem {
  align-items: center;
  background: rgba(0, 0, 0, 0%);
  border-bottom: 1px solid #ccc;
  border-left: 5px solid transparent;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  outline: none;
  padding: 0.5rem 0 0.5rem 0.5rem;
  transition: background 200ms;
  width: 100%;
}

.SettingsItem:hover {
  background: rgba(0, 0, 0, 0.05);
}

.SettingsItem:focus {
  border-left: 5px solid lightskyblue;
}

.SettingsItem.selected {
  background: lightskyblue;
}
