.SettingsExpanderGroup-caret {
  float: right;
  margin: 0 0.75rem;
  transform: rotate(0);
  transition: transform 200ms;
}

.SettingsExpanderGroup-caret.rotated {
  transform: rotate(90deg);
}

.SettingsExpanderGroup-inner {
  display: flex;
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-out;
}

.SettingsExpanderGroup-inner.expanded {
  max-height: 100rem;
  transition: max-height 200ms ease-in;
}

.SettingsExpanderGroup-inner-bar {
  background: #aaa;
  margin-right: 0.5rem;
  width: 0.2rem;
}

.SettingsExpanderGroup-inner-children {
  flex-grow: 1;
}

.SettingsExpanderGroup-label {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.SettingsExpanderGroup-label-text {
  flex: 1 1;
}

.SettingsItem {
  align-items: center;
  background: rgba(0, 0, 0, 0%);
  border-bottom: 1px solid #ccc;
  border-left: 5px solid transparent;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  outline: none;
  padding: 0.5rem 0 0.5rem 0.5rem;
  transition: background 200ms;
  user-select: none;
  width: 100%;
}

.SettingsItem:hover {
  background: rgba(0, 0, 0, 0.05);
}

.SettingsItem:focus {
  border-left: 5px solid lightskyblue;
}

.SettingsItem.selected {
  background: lightskyblue;
}
