canvas {
  /*
   * Don't show the canvas background on small screens where it won't be
   * visible.
   */
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  z-index: -100;
}

@media (min-width: 500px) {
  canvas {
    display: block;
  }
}
