.Button {
  background: transparent;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 0.5rem;
  outline: none;
  padding: 0.5rem;
  text-align: center;
  transition: background 200ms;
  user-select: none;
  vertical-align: middle;
}

.Button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.Button:focus {
  box-shadow: 0 0 12px lightskyblue;
}

.Button.selected {
  background: lightskyblue;
}
