.Button {
  background: transparent;
  cursor: pointer;
  margin: 0.5rem;
  outline: none;
  padding: 0.5rem;
  text-align: center;
  transition: background 200ms;
  vertical-align: middle;
}

.Button.bordered {
  border: 1px solid #ccc;
}

.Button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.Button.bordered:focus {
  box-shadow: 0 0 12px lightskyblue;
}

.Button:not(.bordered):focus {
  filter: drop-shadow(0 0 10px lightskyblue);
}

.Button.selected {
  background: lightskyblue;
}
