.Button {
  background: pink;
  border-radius: 10px;
  cursor: pointer;
  font-size: 5rem;
  line-height: 6rem;
  margin: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}
