.Caret {
  float: right;
  margin: 0 0.75rem;
  transform: rotate(0);
  transition: transform 200ms;
}

.Caret.expanded {
  transform: rotate(90deg);
}

.Content {
  display: flex;
  overflow: hidden;
}

.Content-bar {
  background: #aaa;
  margin-right: 0.5rem;
  width: 0.2rem;
}

.Content-children {
  flex-grow: 1;
}
