*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-bg-light: #eee;
  --color-bg-dark: #333;
  --color-hover-light: #ccc;
  --color-hover-dark: #777;
  --color-text-light: #111;
  --color-text-dark: #eee;
  --color-text-secondary-light: #444;
  --color-text-secondary-dark: #bbb;
  --color-primary: #1e9be9;
}

html {
  margin: 0;
  padding: 0;

  --color-bg: var(--color-bg-light);
  --color-hover: var(--color-hover-light);
  --color-text: var(--color-text-light);
  --color-text-secondary: var(--color-text-secondary-light);
}

@media (prefers-color-scheme: dark) {
  html {
    --color-bg: var(--color-bg-dark);
    --color-hover: var(--color-hover-dark);
    --color-text: var(--color-text-dark);
    --color-text-secondary: var(--color-text-secondary-dark);
  }
}

body {
  margin: 0;
  padding: 0;

  background: var(--color-bg);
  color: var(--color-text);

  font-family: Roboto, sans-serif;
}
