*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  /*
   * Native font stack: https://make.wordpress.org/core/2016/07/07/native-fonts-in-4-6/
   */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  height: 100vh;
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  padding: 0;
  user-select: none;
  width: 100vw;
}

p {
  user-select: text;
}

#root {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
