.PitchAnalyzer {
  background: #f7f7f7;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;
}

@media (min-width: 500px) {
  .PitchAnalyzer {
    border-radius: 5px;
  }
}

.PitchAnalyzer-note {
  flex-grow: 1;
  font-size: 15rem;
  line-height: 15rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}

.PitchAnalyzer-offset {
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
  user-select: none;
}
