.PitchAnalyzer {
  background: green;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;
}

.PitchAnalyzer-note {
  flex-grow: 1;
  font-size: 15rem;
  line-height: 15rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}
