.PitchAnalyser {
  background: #f7f7f7;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem;
}

@media (min-width: 500px) {
  .PitchAnalyser {
    border-radius: 5px;
  }
}

.PitchAnalyser-note {
  flex: 1 1;
  font-size: 13rem;
  line-height: 15rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}

.PitchAnalyser-offset {
  font-size: 2rem;
  height: 4rem;
  margin: 1rem;
  min-height: 4rem;
  text-align: center;
  user-select: none;
}
