.PitchGenerator {
  background: red;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;
  width: 100%;
}

.PitchGenerator-controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.PlaybackControl {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.PlaybackControl-icon {
  cursor: pointer;
}
