.PitchGenerator {
  background: #e7e7e7;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem;
}

@media (min-width: 500px) {
  .PitchGenerator {
    box-shadow: 8px 8px 16px hsla(0, 0%, 0%, 0.1);
  }
}

.PitchGenerator-controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.PitchGenerator-notes,
.PitchGenerator-octaves {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.PitchGenerator-notes > .Button {
  flex: 1 1 20%;
}

.PitchGenerator-octaves > .Button {
  flex: 1 1 100%;
}

.PitchGenerator-pitch {
  font-size: 2rem;
  height: 2rem;
  margin: 1rem;
  min-height: 2rem;
  text-align: center;
  user-select: none;
}

.PlaybackControl {
  align-items: center;
  display: flex;
  flex: 1 1;
  justify-content: center;
}

.PlaybackControl-icon {
  cursor: pointer;
  font-size: 7rem;
  outline: none;
  user-select: none;
}

.PlaybackControl-icon:focus {
  filter: drop-shadow(0 0 20px #1e9be9);
}
