.PitchAnalyser {
  background: #e7e7e7;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem;
}

@media (min-width: 500px) {
  .PitchAnalyser {
    box-shadow: 8px 8px 16px hsla(0, 0%, 0%, 0.1);
  }
}

.PitchAnalyser-note {
  flex: 1 1;
  font-size: 13rem;
  line-height: 15rem;
  text-align: center;
  vertical-align: middle;
}

.PitchAnalyser-offset {
  font-size: 2rem;
  height: 4rem;
  margin: 1rem;
  min-height: 4rem;
  text-align: center;
}
